/* section: convention */

div.login {
}

div.floatlogin {
    float: right;
    font-size: smaller;
    color: green;
    padding-left: 1em;
}
div.floatlogin input.text {
    border: 1px solid #eee;
    border-left: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border: 1px inset #ccc;
    border: 1px dashed #ccc;
    border: 1px solid #ccc;
    border-left: 4px solid green;
    padding-left: 4px;
    margin-bottom: .3em;
}
div.floatlogin input.button {
    border: 1px dashed #ccc;
    border: 1px solid #ccc;
    border-left: 4px solid red;
    border-left: 4px solid orange;
    font-weight: normal ! important;
}
div.floatlogin a {
    color: black;
    text-decoration: underline;
}
div.floatlogin p {
    margin: 0;
}
div.floatlogin p.relaxed {
    margin: .5em 0;
}
div.floatlogin .failure {
    background-color: transparent;
    border: 0;
    padding: 0;
    text-align: left ! important;
    font-style: italic;
    margin: 0;
}

/* section: custom */

/**/
