ul.albums {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}

ul.albums li {
    background: url(../images/bullet1.png) no-repeat left;
    padding-left: 1.5em;
}

ul.album {
    list-style: none;
    padding-left: 0;
    margin-left: 0;
}

ul.images {
    list-style: none;
    padding-left: 0;
    margin-left: 0;
}

ul.images li {
    float: left;
}

ul.images img {
    height: 100px;
    width: 100px;
    padding: 2px;
    border: 1px groove gray;
    margin-right: 1em;
}

ul.files {
    clear: both;
}

/**/
