html, body {
    height: 100%;
    /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    /* Negative indent footer by it's height */
    margin: 0 auto -60px;
}

/* Set the fixed height of the footer here */
#push,
#footer {
    height: 66px;
}
#footer {
    background: url(/static/images/montage.jpg) repeat-x bottom;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
    #footer {
        margin-left: -20px;
        margin-right: -20px;
        padding-left: 20px;
        padding-right: 20px;
    }
}

#wrap > .container {
    padding-top: 60px;
}

.container .credit {
    margin: 20px 0;
}

.navbar .brand {
    background: url(/static/images/brand.png) no-repeat left;
    padding-left: 32px;
}

.gone {
    display: none ! important;
}

