/* section: convention */

div.main .icon {
}
div.main .icon a {
    text-decoration: none;
    color: #00f;
    font-weight: normal;
}
div.main .icon a:hover {
    color: green;
}
div.main .icon img {
    vertical-align: middle;
}
div.main .icon span {
    text-decoration: underline;
    text-decoration: none;
}
div.main dl {
    margin-top: .5em;
}
div.main dt {
    font-weight: bold;
}
div.main dd {
    margin-left: 2em;
}
div.main dt.fancy1 {
    background: url(../icons/bullet1.png) no-repeat top left;
    padding-left: 20px;
    text-decoration: none;
    font-weight: bold;
}
div.main dt.fancy1 a {
    background: none;
    padding-left: 0;
    font-weight: normal;
}

div.main a.nav {
    text-decoration: none;
    color: #00f;
}
div.main a.nav:before {
    content: '» ';
}
div.main a.nav:hover {
    color: green;
}

a.fancy[href^="http://"], a.fancy[href^="https://"] {
    background: url(../icons/link.png) no-repeat top left;
    padding-left: 20px;
}

a.fancy[href^="mailto:"] {
    background: url(../icons/mail.png) no-repeat top left;
    padding-left: 20px;
}

/* section: custom */

div.main .icon a {
    color: violet;
    color: steelblue;
    color: #a50; /* orange */
}
div.main .icon a:hover {
    color: gold;
}

/**/
