/* section: convention */

body {
    background-color: #eee;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11pt;
    color: black;
    margin: 0;
    padding: 0;
    border: 0;
}

img {
    border: none;
    vertical-align: middle;
}

.floatleft {
    float: left;
    margin-right: 1em;
}

.floatright {
    float: right;
    margin-left: 1em;
}

.alignright {
    text-align: right;
}

.cleared {
    clear: both;
}

.remark {
    font-style: italic;
}

p.pack {
    float: right;
    margin: 0 0 0 1em;
}

#logo {
    text-align: center;
}

.changelog {
    font-family: monospace;
    font-weight: bold;
}

/* section: custom */

body {
    background: #1c1c1c;
}

#logo {
    background: #1c1c1c;
}
#logo a:active {
    color: gray;
}

/**/
