{% extends "base.html" %}

{% block title %}{{ foldername }}{% endblock %}

{% block content %}

{% if locations %}
<div class="location">Location: {% for loc in locations %}
<a href="{{ loc.href }}" title="{{ loc.name }}">{{ loc.name }}</a>
{% if not loc.last %} / {% endif %}
{% endfor %}</div>
{% endif %}

{% if files %}
    <h2>Files</h2>
    <p>Click on the links to play/pause. (Works only if you have the flash plugin.)</p>
    <ul class="album">
        {% for file in files %}
        <li><a href="{{ file.href }}" title="{{ file.name }}">{{ file.name }}</a> ({{ file.size|filesizeformat }})</li>
        {% endfor %}
    </ul>
    <!-- todo
    <p>TODO: ZIP download link here</p>
    -->
{% endif %}

{% if folders %}
<h2>Folders</h2>
    <ul class="albums">
        {% for folder in folders %}
        <li><a href="{{ folder.href }}" title="{{ folder.name }}">{{ folder.name }}</a></li>
        {% endfor %}
    </ul>
{% endif %}

<!-- TODO
<div id="artists">
<h2>Artists</h2>
<div>TODO</div>
</div>

<div id="searchbox">
    <h2>Search</h2>
    <input type="text" class="search-text" />
    <ul class="search-results"></ul>
</div>
-->

<!-- data -->

<script type="text/javascript">
    var albumSongs_raw = {{ albumSongs|safe }};
</script>

<!-- Templates -->

<script type="text/template" id="album-song-template">
    <div class="view">
        <a href="{{STATIC_URL}}mp3<%= relpath %>">#<%= track %> - <%= title %></a>
    </div>
</script>

<script type="text/template" id="artist-template">
    <div class="view">
      <label><%= title %></label>
    </div>
</script>

{% endblock %}
