/* section: convention */

div.main {
    background-color: white;
    border: 1px solid #88c;
    padding: 1em;
    width: 650px;
    margin: auto;
    margin-top: 1em;
    margin-bottom: 1em;
}

div.wsp-footer {
    border: 1px solid #88c;
    margin: 1em auto;
    display: table;
    padding: .5em;
    font-size: smaller;
    font-weight: bold;
    font-style: italic;
}
div.wsp-footer a {
}
div.wsp-footer a:hover {
}

div.main a {
    color: blue;
}
div.main a:hover {
    color: green;
}

div.main h1 {
    font-size: 150%;
    border-bottom: 1px solid #88a;
    margin-top: 0;
}
div.main h1 a {
    text-decoration: none;
}

div.main h2 {
    font-size: 120%;
    border-bottom: 1px dashed #88a;
}

div.main code {
    color: #468;
    font-family: monospace;
}

div.main pre {
    background-color: #ddf;
    border: 1px dashed #aaa;
    padding: 1em;
    font-size: smaller;
}

div.main dd {
    margin-bottom: .5em;
}

div.main form input.button {
    font-weight: bold;
}

div.main th input {
    font-weight: bold;
}

div.main li {
    margin-bottom: .2em;
}

div.main dt {
    margin-bottom: .2em;
}

div.main table th {
    text-align: left;
    vertical-align: top;
}

div.main div.description {
    margin-bottom: 1em;
}

div.main dl.helpthesite dt {
    font-style: italic;
}

div.lang-selector-wrapper {
    padding: .5em;
    width: 650px;
    margin: auto;
    margin-top: .5em;
    margin-bottom: .5em;
    text-align: right;
}
div.lang-selector {
    background-color: white;
    border: 1px solid #88c;
    padding: .5em;
    font-size: smaller;
    display: inline;
}
div.lang-selector img {
    padding: 2px;
}

/* section: custom */

div.main {
    width: 650px;
    margin: auto;
    margin-top: 1em;
    margin-bottom: 1em;
    border: 1px solid #888;
    background: #444;
    color: silver;
}

div.main h1 {
    color: #8470ff;
    border-bottom: 1px solid #555;
}

div.main h2 {
    color: #8470ff;
    border-bottom: 1px dashed #555;
}

div.main a {
    color: orange;
}
div.main a:hover {
    color: gold;
}

div.lang-selector {
    border: 1px solid #888;
    background: #444;
    color: silver;
}

div.location {
    font-weight: bold;
}

/**/
