{% extends "base.html" %}

{% block subtitle %}Login{% endblock %}

{% block main %}

    <style type="text/css">
      .openid_btns a {
          width: 100px;
          height: 60px;
          border: 2px solid #ddd;
          border-radius: 5px;
          -moz-border-radius: 5px;
          -webkit-border-radius: 5px;
          box-shadow: 2px 2px 4px #ddd;
          -moz-box-shadow: 2px 2px 4px #ddd;
          -webkit-box-shadow: 2px 2px 4px #ddd;
          margin: 3px;
          float: left;
      }
      .openid_btns a:hover {
          border: 2px solid #999;
          border-radius: 5px;
          -moz-border-radius: 5px;
          -webkit-border-radius: 5px;
          box-shadow: none;
          -moz-box-shadow: none;
          -webkit-box-shadow: none;
      }
      .openid_btns br {
          clear: both;
      }
    </style>


    <div class="container">
        <div class="row">
            <div class="page-header span8">
                <h1>Login</h1>
            </div>
        </div>
      
        {% if message %}
        <div class="row">
            <div class="span8">
                <div class="alert alert-error">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <h4>Error!</h4>
                    {% if message == 'nonlisted' %}
                    Your email address is not on our whitelist.
                    Note that this is normal if the site owners have not
                    invited you explicitly.
                    This is a private site.
                    {% else %}
                    {{ message }}
                    {% endif %}
                </div>
            </div>
        </div>
        {% endif %}
  
        <div class="row">
            <div class="span8">
                <div class="alert">
                  <button type="button" class="close" data-dismiss="alert">&times;</button>
                  <strong>Warning!</strong> This site is strictly invitation only,
                  as the project is designed for private use (due to copyright reasons).
                  If you haven't been invited, you won't be able to login.
                  However, the software running this site is <a href="https://github.com/janosgyerik/mediabox">open-source</a>,
                  and you are free to roll your own MediaBox!
                </div>
            </div>
        </div>
  
        <div class="row">
            <div class="span8">
                <div class="span3 pull-right well">
                    <h4>Why OpenID?</h4>
                    <p>It’s a single username and password that allows you to login to any OpenID-enabled site.</p>
                    <p>It works on thousands of websites.</p>
                    <p>It’s an open standard.</p>
                    <p class="pull-right"><a href="http://openid.net/what/">learn more »</a></p>
                </div>
  
                <p>Click on the logo of the email address you were invited by:</p>
        
                <div class="openid_btns">
                    <!--
                    <a title="login with Stack Exchange" href="" style="background: #fff url(http://cdn.sstatic.net/Img/openid/openid-logos.png?v=8); background-position: -1px -518px" class="stack_exchange openid_large_btn"></a>
                    -->
                    <a title="login with Google" href="" data-name="google" style="background: #fff url(http://cdn.sstatic.net/Img/openid/openid-logos.png?v=8); background-position: -1px -1px" class="google openid_large_btn"></a>
                    <!--
                    <a title="login with Facebook" href="" style="background: #fff url(http://cdn.sstatic.net/Img/openid/openid-logos.png?v=8); background-position: -1px -456px" class="facebook openid_large_btn"></a>
                    -->
                    <a title="login with Yahoo" href="" data-name="yahoo" style="background: #fff url(http://cdn.sstatic.net/Img/openid/openid-logos.png?v=8); background-position: -1px -63px" class="yahoo openid_large_btn"></a>
                    <br/>
                </div>
                <hr>
            </div>
        </div>
  
    </div> <!-- /container -->

    <div class="hidden">
        <form class="openid-form-google" method="post" action="/openid/login/">
            {% csrf_token %}
            <input type="hidden" name="openid_identifier" value="https://www.google.com/accounts/o8/id"/>
        </form>

        <form class="openid-form-yahoo" method="post" action="/openid/login/">
            {% csrf_token %}
            <input type="hidden" name="openid_identifier" value="http://yahoo.com"/>
        </form>

    </div>

{% endblock %}

{% block ready %}
$('.openid_btns a').bind('click', function(e) {
    var openid_type = $(this).attr('data-name');
    var form = $('.openid-form-' + openid_type);
    form.submit();
    e.preventDefault();
});
{% endblock %}
