{% extends "base.html" %}

{% block title %}{{ foldername }}{% endblock %}

{% block main %}

{% if locations %}
<ul class="breadcrumb">
    {% for loc in locations %}
    <li><a href="{{ loc.href|urlencode }}" title="{{ loc.name }}">{{ loc.name }}</a> {% if not loc.last %}<span class="divider">/</span>{% endif %}</li>
    {% endfor %}
</ul>
{% endif %}

{% if folders %}
    <h2>{{ foldername }}</h2>
    <ul class="albums">
        {% for folder in folders %}
        <li><a href="{{ folder.href }}" title="{{ folder.name }}">{{ folder.name }}</a></li>
        {% endfor %}
    </ul>
{% endif %}

{% if files %}
    <h2>{{ foldername }}</h2>
    {% if images %}
    <ul class="images">
        {% for file in images %}
        <li><img src="{{ file.href|urlencode }}" title="{{ file.name }}" /></li>
        {% endfor %}
    </ul>
    {% endif %}
    <ul class="album files">
        {% for file in files %}
        <li><a href="{{ file.href|urlencode }}" title="{{ file.name }}">{{ file.name }}</a> ({{ file.size|filesizeformat }})</li>
        {% endfor %}
    </ul>
    <!-- todo
    <p>TODO: ZIP download link here</p>
    -->
{% endif %}

<!-- TODO
<div id="artists">
<h2>Artists</h2>
<div>TODO</div>
</div>

<div id="searchbox">
    <h2>Search</h2>
    <input type="text" class="search-text" />
    <ul class="search-results"></ul>
</div>
-->

<!-- data -->

<script type="text/javascript">
    var albumSongs_raw = {{ albumSongs|safe }};
</script>

<!-- Templates -->

<script type="text/template" id="album-song-template">
    <div class="view">
        <a href="{{STATIC_URL}}mp3<%= relpath %>">#<%= track %> - <%= title %></a>
    </div>
</script>

<script type="text/template" id="artist-template">
    <div class="view">
      <label><%= title %></label>
    </div>
</script>

{% endblock %}
