{% extends "base.html" %}

{% block subtitle %}{{ foldername|capfirst }}{% endblock %}

{% block main %}

{% if locations %}
<ul class="breadcrumb">
    {% for loc in locations %}
    <li><a href="{{ loc.href|urlencode }}" title="{{ loc.name }}">{{ loc.name|capfirst }}</a> {% if not loc.last %}<span class="divider">/</span>{% endif %}</li>
    {% endfor %}
</ul>
{% endif %}

{% block custom-message %}{% endblock %}

<div class="row">
    <div class="span4 {% if files %}album{% endif %}">
        <h2>{{ foldername|capfirst }}</h2>

        {% if folders %}
            <ul class="albums">
                {% for folder in folders %}
                <li><i class="icon-folder-close"></i><a href="{{ folder.href }}" title="{{ folder.name }}">{{ folder.name }}</a></li>
                {% endfor %}
            </ul>
        {% endif %}

        {% if files %}
            {% if images %}
            <ul class="images">
                {% for file in images %}
                <li><img src="{{ file.href|urlencode }}" title="{{ file.name }}" /></li>
                {% endfor %}
            </ul>
            {% endif %}
            <ul class="album files">
                {% for file in files %}
                <li><a href="{{ file.href|urlencode }}" title="{{ file.name }}">{{ file.name }}</a> ({{ file.size|filesizeformat }})</li>
                {% endfor %}
            </ul>
			<div id="audioplayer" class="projekktor"></div>
		    <script type="text/javascript">
            $(document).ready(function() {
                projekktor(
                    '#audioplayer',
                    {
                        /* Docs about how to use projekktor */
                        /* http://www.projekktor.com/docs/quickinstall */
                        /* http://www.projekktor.com/docs/configuration */
                        /* http://www.projekktor.com/docs/playlists */
                        volume: 0.8,
                        controls: true,
                        autoplay: true,
                        continuous: true,
                        loop: true,
                        enableFullscreen: false,
                        height: 38,
                        width: 370,
                        /* path to the Flash-player fallback component */
                        playerFlashMP4: '{{ STATIC_URL }}projekktor/jarisplayer.swf',
                        playerFlashMP3: '{{ STATIC_URL }}projekktor/jarisplayer.swf',
                        playlist: [
						{% for file in files %}
						{
                            0:{src:'{{ file.href|urlencode }}', type: 'audio/mp3'},
		                	config: {title: '{{ file.name }}'}
		                },
		                {% endfor %}
		                ]
		            }
			    );
			});
		    </script>
            <!-- todo
            <p>TODO: ZIP download link here</p>
            -->
        {% endif %}

    </div>

    <div id="recent-folders" class="span4 gone">
        <h2>Recent folders</h2>
        <ul class="list">
        </ul>
    </div>
</div>

<!-- TODO
<div id="artists">
<h2>Artists</h2>
<div>TODO</div>
</div>

<div id="searchbox">
    <h2>Search</h2>
    <input type="text" class="search-text" />
    <ul class="search-results"></ul>
</div>
-->

<!-- data -->

<script type="text/javascript">
    var albumSongs_raw = {{ albumSongs|safe }};
</script>

<!-- Templates -->

<script type="text/template" id="album-song-template">
    <div class="view">
        <a href="{{STATIC_URL}}mp3<%= relpath %>">#<%= track %> - <%= title %></a>
    </div>
</script>

<script type="text/template" id="artist-template">
    <div class="view">
      <label><%= title %></label>
    </div>
</script>

<script type="text/template" id="folder-template">
    <a href="<%= href %>"><%= name %></a>
</script>

<script type="text/template" id="foldername">
    {{ foldername|capfirst }}
</script>

{% endblock %}
